
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.sdf
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.tlog
*.lastbuildstate
*.idb
data/db/test.0
data/db/local.0
data/db/local.ns
data/db/test.1
data/db/test.ns
data/db/mongod.lock
